/* ////////// BREAKPOINTS ////////// */
/* ////////// DEFAULTS ////////// */
:root {
  --header-height: 100px;
  --lg-border-radius: 20px;
  --font-size: 18px;
  --font-size-lg: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
  font-size: var(--font-size);
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: Taviraj;
}

h1,
h2,
h4 {
  font-weight: 700;
}

section {
  margin: 8.5rem calc((100vw - 1440px) / 2);
  margin: 8.5rem 2rem;
  /* padding: 0 calc((100vw - 1440px) / 2) */
}

a {
  text-decoration: none;
}

.btn-outline,
.btn-primary {
  padding: 10px;
}

.btn-outline {
  background-color: #fefefe;
  color: #222;
  border: 1px solid #222;
}

.btn-primary {
  background-color: #222;
  color: #fefefe;
  border: 1px solid transparent;
}

.img-skeleton {
  width: 100%;
  height: auto;
  background-color: grey;
}

.cta {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

/* //////////////////// PAGES //////////////////// */
/* ////////// HOMEPAGE ////////// */
.hero {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: calc(100vh - var(--header-height));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://media.ffycdn.net/eu/muchloved/wxR8pdY5wU2VAuvmDjhp.jpeg?mod=v1/max=2400");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
.hero h1 {
  font-size: 48px;
}
.hero h2 {
  max-width: 80ch;
  font-weight: 100;
}

.text-img-grid {
  display: grid;
  grid-template-columns: 660px 660px;
  grid-template-rows: 354px 354px;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
  place-content: center;
}
.text-img-grid > * {
  border-radius: 15px;
}
.text-img-grid p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  border: 1px solid black;
  font-size: 24px;
  line-height: 36px;
}
.text-img-grid div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* or 'contain', 'cover', etc. */
}

.quote-container--homepage {
  display: grid;
  place-content: center;
  font-size: 28px;
}

.feature-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.feature-cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.stats div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  width: 240px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.stat-figure {
  font-size: 30px;
  font-weight: 700;
}

.getting-started-container {
  display: grid;
  gap: 2rem;
}
.getting-started-container ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  counter-reset: steps-counter;
}

.company-logos {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  width: 158px;
  height: 158px;
  background-color: grey;
  border-radius: 50%;
}

/* ////////// FEATURES PAGE ////////// */
.feature-page__title {
  margin: 4.5rem auto;
  max-width: 800px;
  text-align: center;
}
.feature-page__txt-img-section {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.feature-page__txt-img-section .cta {
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature-page-cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .feature-page__txt-img-section .cta {
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ////////// VIDEO PAGE ////////// */
.video-page__title {
  text-align: center;
}
.video-page__tag {
  text-align: center;
}
.video-page__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
.video-page__video-description {
  margin: 0;
  padding: 1rem;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 20px;
}
.video-page__video {
  width: 1000px;
  border: 1px solid black;
  border-radius: 20px;
}

/* //////////////////// COMPONENTS //////////////////// */
/* ////////// NAVBAR ////////// */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: var(--header-height);
  box-shadow: 0 4px 6px -6px grey;
  font-size: 1.2rem;
}
nav a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 2100px) {
  nav {
    padding: 0 7.5rem;
  }
}

.navbar__logo {
  width: 200px;
  height: auto;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
}
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ////////// TXT AND IMG ////////// */
.txtimg__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.txtimg__txt {
  max-width: 35ch;
  font-size: 28px;
}
.txtimg__img {
  width: 525px;
  height: 525px;
  aspect-ratio: 1;
}
@media (max-width: 1000px) {
  .txtimg {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* ////////// QUOTE ////////// */
.quote-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  padding: 2rem;
  max-width: 1000px;
  background-color: #ede9e9;
}

.quote {
  display: grid;
  gap: 1rem;
}

.quoteMarks {
  width: 24px;
  flex-shrink: 0;
}

.quoteMark-right {
  align-self: start;
  transform: rotate(180deg);
}
.quoteMark-left {
  align-self: end;
}

/* ////////// FEATURE CARD  ////////// */
a .feature-card {
  text-decoration: none;
}

.feature-card {
  display: grid;
  gap: 1rem;
  padding: 2.5rem;
  height: 100%;
  box-shadow: 0 0 0 1px black;
  text-decoration: none;
  color: black;
  transition: box-shadow 300ms;
}
.feature-card--hover:hover {
  box-shadow: 0 0 0 3px #832885;
}
.feature-card .grey-div {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: grey;
}
.feature-card .title {
  text-align: center;
}

/* ////////// GET STARTED STEP ////////// */
.step {
  display: grid;
  justify-items: center;
  gap: 1rem;
  padding: 4rem 1rem;
  text-align: center;
  counter-increment: steps-counter;
  position: relative;
}
.step::before {
  content: counter(steps-counter);
  font-size: 32px;
  font-family: Taviraj;
  font-weight: 700;
}

/* ////////// TXT & CTA ////////// */
.txtWithCta {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1.5rem;
  margin: 0 auto;
  width: 690px;
}
.txtWithCta p {
  font-size: 32px;
  text-align: center;
}

/* ////////// BORDERED TEXT ////////// */
.bordered-txt {
  border: 2px solid black;
  border-radius: var(--lg-border-radius);
  padding: 4rem;
}
.bordered-txt__heading {
  text-align: center;
}
/* ////////// VIDEO CARD ////////// */
.video-card {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0 1px black;
  border-radius: 12px;
  text-decoration: none;
  color: black;
  transition: box-shadow 300ms;
}
.video-card:hover {
  box-shadow: 0 0 0 3px black;
}
.video-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
.video-card .tags-container {
  display: flex;
  gap: 1rem;
}
.video-card .tag {
  padding: 0.4rem 0.6rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e4e4e4;
  line-height: 1;
}
.video-card .title {
  margin: 0;
}
.video-card .description {
  --num-of-visible-lines: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--num-of-visible-lines);
  overflow: hidden;
  /* fallback for Firefox */
  line-clamp: var(--num-of-visible-lines);
}
.video-card .description p {
  margin: 0;
}
.video-card .duration {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.video-card .duration svg {
  width: 24px;
}

/* ////////// FOOTER ////////// */
footer {
  margin-top: 2rem;
}
footer section {
  margin-top: 5.5rem;
}
footer .newsletter-signup {
  --form-child-padding: 1.25rem 1rem;
  display: grid;
  place-content: center;
  gap: 2rem;
  padding: 4rem 6rem;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: black;
}
footer .newsletter-signup__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
}
footer .newsletter-signup__form-field-label {
  display: grid;
  gap: 0.5rem;
  text-align: left;
}
footer .newsletter-signup__form-field {
  padding: var(--form-child-padding);
}
footer .newsletter-signup__form-button {
  align-self: end;
  max-width: 200px;
  padding: var(--form-child-padding);
  background-color: white;
  border: 1px solid #767676;
  cursor: pointer;
}
footer .links {
  display: flex;
  justify-content: space-between;
}
footer .links h4 {
  margin-bottom: 2rem;
}
footer .links ul {
  display: grid;
  gap: 0.5rem;
  list-style: none;
}
footer .links a {
  color: inherit;
  text-decoration: none;
}
footer .map {
  width: 150px;
  height: 80px;
  background-color: grey;
}
footer .disclaimers > div {
  margin-bottom: 2rem;
}
footer .logo-placeholder {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: grey;
}/*# sourceMappingURL=style.css.map */